// When creating a scss variable, we start off with a dollar sign $

// Colors

// Spacing
$s-size: 1.2rem; //Medium size - 12 pixels
$m-size: 1.6rem; //Medium size - 16 pixels
$l-size: 3.2rem; //Large size - 32 pixels
$xl-size: 4.8rem; //Extra Large size - 48 pixels
$desktop-breakpoint: 45rem;